<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">

</head>

<body>
    <div class="sign">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>
                    <center>
                        <h1>Sign Up</h1>
                    </center>
                </p>
                <center>

                    <!-- Add this section to display flash messages -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}

                    <form name="sentMessage" id="signup" action="/sign_up" method="post" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <lable>Email</lable>
                                <input type="email" class="form-control" placeholder="email" id="email" name='email'
                                    required data-validation-required-message="Please enter your email id.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <lable>Password</lable>
                                <input type="password" class="form-control" placeholder="password" id="password"
                                    name='password' required data-validation-required-message="password">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <lable>Confirm Password</lable>
                                <input type="password" class="form-control" placeholder="confirm_password"
                                    id="confirm_password" name='confirm_password' required
                                    data-validation-required-message="confirm_password">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="checkbox" checked="checked" name="remember" style="margin: 15px">Remember me
                        <p>
                        <pre>              <h2>                  By creating an account you agree to our <a
                                        href="#" style="color:rgb(255, 14, 14)">Terms & Privacy</a></pre>
                        </h2>
                        </p>

                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="signup" id="sendMessageButton">Sign Up</button>
                            <button type="reset" class="cancel">Reset</button>
                            <button><a href="/">back</a></button>
                        </div>
                    </form>
                </center>
            </div>
        </div>
    </div>

</body>

</html>